/.phpcs-cache
/.phpunit.cache
/.psalm-cache
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
config/autoload/global.php
config/autoload/local.php
/public/photos

# Snapshot FTP de la prod, usage local uniquement
/EN-PROD
